{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a class="btn border-white col-2 fw-bolder btn-lg" href="{% url 'crud:index' %}"> HOME</a>
    <form action="{% url 'crud:created_at' %}">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">제목</label>
            <input type="text" class="form-control" name="title" placeholder="제목을 입력해주세요." required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">내용</label>
            <textarea type="text" class="form-control" name="content" rows="10" required></textarea>
        </div>
        <div class="col-1">
            <input class="btn btn-primary btn-sm" type="submit" value="제출">
        </div>
    </form>
</div>

{% endblock %}