{% extends 'base.html' %}

{% block content %}

<section class="container">
    <div class="text-center m-3">
        <h1>영화 리뷰 페이지</h1>
    </div>

    <a type="button" class="btn btn-dark" href="{% url 'crud:create' %}"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
        리뷰 작성
    </a>
    <table class="table my-2">
        <thead class="text-bg-dark">
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성시간</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr class="align-middle">
                <td><a class="btn border-white" href="{% url 'crud:detail' review.pk %}">{{ review.pk }}</a></td>
                <td><a class="btn border-white" href="{% url 'crud:detail' review.pk %}">{{ review.title }}</a></td>
                <td>{{ review.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}